:root {
    --bgMain: #0a0c26;
    --bgInputMain: #15162e;
    --grayMain: #e6e1e1;
    --grayBorder: #ada8a8;
    --activeMain: #6947cb;
    --linearMain: linear-gradient(97.62deg, #eb11aa -15.99%, #2e81e2 104.3%);
    --linearMainSecond: linear-gradient(
        89.96deg,
        #cb47a0 0.02%,
        #6947cb 49.47%,
        #00ff85 99.97%
    );
    --linearSectionMain: linear-gradient(
      rgba(214, 237, 255, 0.3),
      rgba(214, 237, 255, 0.3)
    ),
    linear-gradient(
      89.96deg,
      rgba(203, 71, 160, 0.5) 0.02%,
      rgba(105, 71, 203, 0.5) 49.47%,
      rgba(0, 255, 133, 0.5) 99.97%
    );
    --bgPreloaderOne: url("~@/assets/img/payload/rock-bg.png") top left / cover
        no-repeat;
    --bgPreloaderTwo: url("~@/assets/img/payload/blue.jpg") top left / cover
        no-repeat;
    --bgAvatarFirstStart: url("~@/assets/img/firstStart/avatar.png") center center /
        contain no-repeat;
    --clockHourArrow: #eb11aa;
    --clockMinArrow: #fff;
    --clockSecArrow: #6947cb;
    --clockLight: purple;

    --glitch-horizontal: 10px;
    --glitch-vertical: 5px;
    --glitch-blend-mode: none;
    --glitch-blend-color: transparent;

    --glitch-time-anim-1: 4s;
    --glitch-delay-anim-1: 6s;

    --glitch-time-anim-2: 7s;
    --glitch-delay-anim-2: 14s;

    --notifErrorMain: #C20000;
    --notifSuccessMain: #A4B123;
    --notifColor: #fff;
    
    --workplaceHeightMob: 370px;
    --workplaceHeight: 300px;
}